<h2>域名组列表</h2>

<hr>

<%= fume_nav @q.family_eq do |n| %>
<ul class="nav nav-tabs">
  <li class="nav-item"><%= n.content_tag nil, :a, href: domain_sets_path, class: "nav-link" do %>全部<% end %></li>

  <% DomainSet.family.options.each do |name, value| %>
    <li class="nav-item"><%= n.content_tag value, :a, href: domain_sets_path(q: { family_eq: value }), class: "nav-link" do %><%= name %><% end %></li>
  <% end %>
</ul>
<% end %>

<br>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>family</th>
      <th>Content</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @domain_sets.each do |domain_set| %>
    <tr>
      <td><%= domain_set.title %></td>
      <td><%= domain_set.family %></td>
      <td>
        <pre class="small"><%= domain_set.content %></pre>
      </td>
      <td>
        <%= link_to "编辑", edit_domain_set_path(domain_set, :ok_url => request.url) %>
        <%= link_to "删除", domain_set_path(domain_set), :method => :delete, data: { confirm: "确定删除该?" } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<nav>
  <%= paginate(@domain_sets) if !@domain_sets.empty? %>
</nav>

<div class="table-action">
  <%= link_to "添加域名组", new_domain_set_path(:ok_url => request.url), class: 'btn btn-primary' %>
</div>
