<div class="btn-group">
	<%= link_to "最近两小时", user_statistics_path(@user, :query_way => "h"), :class => "btn btn-primary" %>
	<%= link_to "当天", user_statistics_path(@user, :query_way => "d"), :class => "btn btn-primary" %>

	<%= link_to "当月", user_statistics_path(@user, :query_way => "m"), :class => "btn btn-primary" %>

</div>

<table class="table table-striped">
	<thead>
		<tr>
			<th>总流量</th><td><%= network_size(@total_size) if !@statistics.empty? %></td>
		</tr>
		<tr>
			<th>时间</th><td>每日流量</td>
		</tr>
	</thead>
	
	<% if !@statistics.empty? %>
		<% @statistics.each do |statistic| %>
		<tr>
			<th><%= statistic.time.strftime("%Y年%m月%d日%H:%M") %></th>
			<td><%= network_size(statistic.size) %></td>
		</tr>
		<% end %>
	<% end %>
</table>

<nav>
	<%= paginate(@statistics, :theme => 'twitter-bootstrap') if !@statistics.empty? %>
</nav>
