<div class="form-inputs">
	<%= f.input :email if user_params.permit_attributes.include?(:email) %>
	<%= f.input :login if user_params.permit_attributes.include?(:login) %>
	<%= f.input :password if user_params.permit_attributes.include?(:password) %>
	<%= f.input :password_confirmation if user_params.permit_attributes.include?(:password_confirmation) %>
	<%= f.input :transfer_remaining if user_params.permit_attributes.include?(:transfer_remaining) %>
	<%= f.input :monthly_transfer if user_params.permit_attributes.include?(:monthly_transfer) %>
</div>

<div class="form-actions">
	<%= f.button :submit, class: "btn btn-primary" %>
	<%= ok_url_tag %>
	<%= cancel_link(root_url) %>
</div>