<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Email</th>
			<th>Transfer Remaining</th>
			<th>Port</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
		<tr>
			<td><%= link_to user.email, user %></td>
			<td><%= number_to_human_size(user.transfer_remaining) %></td>
			<td><%= user.binding_port %></td>
			<td>
				<%= link_to "编辑", edit_user_path(user, :ok_url => request.url) %>
				<%= link_to "删除", user_path(user), :method => :delete, :confirm => "确定删除该用户?" %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>

<nav>
	<%= paginate(@users, :theme => 'twitter-bootstrap') if !@users.empty? %>
</nav>

<%= link_to "new user", new_user_path(:ok_url => request.url), class: 'btn btn-primary' %>
