<% content_for :head do %>
<style>
.chart {
	height: 250px;
}

.faq li {
	margin: 0.5em 0;
}
</style>
<% end %>


<div class="widget">
	<header><h3>基础信息</h3></header>
	
	<div class="row-fluid">
		<div class="span7 info">
			<h4>用户帐号</h4>
			<p><%= @user.email %></p>
			<h4>
				可用流量:
				<span class="label label-important">
					<%= number_to_human_size(@user.transfer_remaining) %> / <%= number_to_human_size(@user.monthly_transfer) if @user.monthly_transfer %>
				</span>
			</h4>
			
			<h4>代理地址:</h4>
			<% if (binding = @user.binding) %>
				<% if binding.port %>
					<p><code><%= whitelist_url(format: :pac, auth_token: @user.authentication_token) %></code></p>
					<p><code><%= blacklist_url(format: :pac, auth_token: @user.authentication_token) %></code></p>
					<p>
						<code><%= "http://#{Client.first.hostname}:" %><%= @user.binding_port if @user.binding_port %></code>
						<%= link_to "更换端口", [@user, :binding], method: 'post', class: "btn btn-mini", confirm: '确定是否更换端口?' %>
					</p>
				<% else %>
					<p>已经申请, 等待端口分配</p>
				<% end %>
			<% else %>
				<p>
					<%= link_to "申请端口", [@user, :binding], method: 'post', class: "btn" %>
				</p>
			<% end %>
			
			<% if binding && binding.port %>
				<h4>PAC 代理:</h4>
				<p>
					<label>白名单(whitelist):</label>
					<code><%= whitelist_url(format: :pac, auth_token: @user.authentication_token) %></code>
				</p>
				<p>
					<label>黑名单(blacklist):</label>
					<code><%= blacklist_url(format: :pac, auth_token: @user.authentication_token) %></code>
				</p>
				<!-- <p><%= link_to "更换密钥", "#", class: "btn btn-mini" %></p> -->
			<% end %>
		</div>
		<div class="span5 faq">
<!--
			<h4>FAQ</h4>
			<ul>
				<li><a href="#">HTTP 代理 和 PAC 代理区别.</a></li>
				<li><a href="#">什么是白名单和黑名单, 及使用范围.</a></li>
				<li><a href="#">如何设置 Chrome 浏览器?</a></li>
				<li><a href="#">如何设置 Firefox 浏览器?</a></li>
				<li><a href="#">iPhone Wifi 模式下如何设置?</a></li>
				<li><a href="#">iPhone 3G 模式下如何设置?</a></li>
				<li><a href="#">Android 手机如何设置?</a></li>
			</ul>
-->
		</div>
	</div>
</div>

<div class="widget">
	<header><h3>最近2小时用量</h3></header>
	<div id="recent-area-chart" class="chart"></div>
</div>

<div class="widget">
	<header><h3>当天流量</h3></header>
	<div class="row-fluid">
		<div class="span9">
			<div id="today-area-chart" class="chart"></div>
		</div>
		<div class="span3">
			<div id="today-donut-chart" class="chart"></div>
		</div>
	</div>
</div>

<div class="widget">
	<header><h3>当月流量</h3></header>
	<div id="this-month-bar-chart" class="chart"></div>
</div>

<script>
var defaultAreaOptions = {
	hideHover: 'auto',
	xkey: 'start_at',
	pointSize: 0,
	lineWidth: 1,
	yLabelFormat: function(y) { return numberToHumanSize(y) }
}

var defaultDonutOptions = {
	formatter: function(y, data) { return numberToHumanSize(y) }
}

Morris.Area($.extend({
	element: 'recent-area-chart',
	data: <%=raw JSON.pretty_generate(@recent_report.chart) %>,
	goals: [ 2 * 1024 * 1024 ],
	ykeys: <%=raw @recent_report.remote_ips.to_json %>,
	labels:  <%=raw @recent_report.remote_ips.to_json %>,
	lineColors: <%=raw @recent_report.remote_ip_colors.to_json %>
}, defaultAreaOptions));

Morris.Area($.extend({
	element: 'today-area-chart',
	data: <%=raw JSON.pretty_generate(@today_report.chart) %>,
	goals: [ 50 * 1024 * 1024 ],
	ykeys: <%=raw @today_report.remote_ips.to_json %>,
	labels:  <%=raw @today_report.remote_ips.to_json %>,
	lineColors: <%=raw @today_report.remote_ip_colors.to_json %>,
	events: [ <%=raw @today_report.limit.start_at.to_json %> ]
}, defaultAreaOptions));

Morris.Donut($.extend({
	element: 'today-donut-chart',
	data: <%=raw @today_report.total_remote_ip_chart.to_json %>,
	colors: <%=raw @today_report.remote_ip_colors.to_json %>
}, defaultDonutOptions));

Morris.Bar({
	element: 'this-month-bar-chart',
	data: <%=raw JSON.pretty_generate(@this_month_report.chart.map { |line| line["day"] = line["start_at"].to_date; line }) %>,
	ykeys: [ "total_transfer_bytes" ],
	labels: [ "total_transfer_bytes" ],
	xkey: 'day',
	hideHover: 'auto',
	yLabelFormat: function(y) { return numberToHumanSize(y) }
});
</script>
