<table class="table table-hover">
<%= simple_form_for(@user) do |f| %>
	<tr>
		<td><%= f.input :email, :disabled => true %></td>
	</tr>
	<tr>
		<td><%= f.input :login, :disabled => true %></td>
	</tr>
	<tr>
		<td><%= f.input :domain, :disabled => true %></td>
	</tr>
	<tr>
		<td><%= f.input :port, :disabled => true %></td>
	</tr>
	<tr>
		<td>
			<div class="form-actions">
			<% if current_user.admin? %>
				<%= f.button :submit, "生成新的序列好并更新", class: "btn btn-primary" %>
			<% end %>
				<%= return_link(root_url) %>
			</div>
		</td>
	</tr>
<% end %>
</table>