<div class="row-fluid">
	<div class="span5">
		<div class="widget">
			<header><h3>基础信息</h3></header>
			<h4>用户帐号</h4>
			<p><%= @user.email %></p>
			
			<h4>
				可用流量:
				<span class="label label-important"><%= number_to_human_size(@user.transfer_remaining) %></span>
			</h4>
			
			<h4>代理地址:</h4>
			<% if (binding = @user.binding) %>
				<% if binding.port %>
					<p><code><%= whitelist_url(format: :pac, auth_token: @user.authentication_token) %></code></p>
					<p><code><%= blacklist_url(format: :pac, auth_token: @user.authentication_token) %></code></p>
					<p>
						<code><%= "http://#{request.host}:" %><%= @user.binding_port if @user.binding_port %></code>
						<%= link_to "更换端口", [@user, :binding], method: 'post', class: "btn btn-mini", confirm: '确定是否更换端口?' %>
					</p>
				<% else %>
					<p>已经申请, 等待端口分配</p>
				<% end %>
			<% else %>
				<p>
					<%= link_to "申请端口", [@user, :binding], method: 'post', class: "btn" %>
				</p>
			<% end %>
			
			<% if binding && binding.port %>
				<h4>PAC 代理:</h4>
				<p><code><%= whitelist_url(format: :pac, auth_token: @user.authentication_token) %></code></p>
				<!-- <p><code><%= blacklist_url(format: :pac, auth_token: @user.authentication_token) %></code></p> -->
				<p><%= link_to "更换密钥", "#", class: "btn btn-mini" %></p>
			<% end %>
			

		</div>
	</div>
	<div class="span7">
		<div class="widget">
			<header><h3>使用情况</h3></header>
			
		</div>
	</div>
</div>
