<% content_for :head do %>
<style>
.chart {
  height: 250px;
}

.faq li {
  margin: 0.5em 0;
}
</style>
<% end %>


<div class="card mb-4">
  <div class="card-header">基础信息</div>
  <div class="card-block">
    <div class="row">
      <div class="col-md-12">
        <h4>用户帐号</h4>
        <p><%= @user.email %></p>

        <h4>
          可用流量:
          <span class="label label-primary">
            <%= number_to_human_size_with_negative(@user.transfer_remaining) %> / <%= number_to_human_size_with_negative(@user.monthly_transfer) if @user.monthly_transfer %>
          </span>
        </h4>

        <h4>HTTP 代理:</h4>
        <p>
          <% Client.available.each do |client| %>
          <code><%= Project.default_proxy_address %></code>
          <% end %>
          <%#= link_to "更换端口", user_path(user: { binding_port: nil }), method: 'put', class: "btn btn-warning-outline btn-sm", data: { confirm: '确定是否更换端口?' } %>
        </p>

        <h4>PAC 代理:</h4>
        <p>
          <label>白名单(whitelist):</label>
          <code><%= host_list_url(@user.host_list(:white), :pac) %></code>
        </p>
        <p>
          <label>黑名单(blacklist):</label>
          <code><%= host_list_url(@user.host_list(:black), :pac) %></code>
        </p>
        <p>
          <label>加速单(speedlist):</label>
          <code><%= host_list_url(@user.host_list(:speed), :pac) %></code>
        </p>
      </div>
    </div>
  </div>
</div>


<div class="card mb-4">
  <div class="card-header">最近2小时用量</div>
  <div class="card-block">
    <div id="recent-area-chart" class="chart"></div>
  </div>
</div>

<div class="card mb-4">
  <div class="card-header">当天流量</div>
  <div class="card-block">
    <div class="row">
      <div class="col-md-9">
        <div id="today-area-chart" class="chart"></div>
      </div>
      <div class="col-md-3">
        <div id="today-donut-chart" class="chart"></div>
      </div>
    </div>
  </div>
</div>

<div class="card mb-4">
  <div class="card-header">当月流量</div>
  <div class="card-block">
    <div id="this-month-bar-chart" class="chart"></div>
  </div>
</div>

<script>
// var defaultAreaOptions = {
//   hideHover: 'auto',
//   xkey: 'start_at',
//   pointSize: 0,
//   lineWidth: 1,
//   yLabelFormat: function(y) { return numberToHumanSize(y) }
// }
//
// var defaultDonutOptions = {
//   formatter: function(y, data) { return numberToHumanSize(y) }
// }

/*Morris.Area($.extend({
  element: 'today-area-chart',
  data: <%=raw JSON.pretty_generate(@today_report.chart) %>,
  goals: [ 50 * 1024 * 1024 ],
  ykeys: <%=raw @today_report.remote_ips.to_json %>,
  labels:  <%=raw @today_report.remote_ips.to_json %>,
  lineColors: <%=raw @today_report.remote_ip_colors.to_json %>,
  events: [ <%=raw @today_report.limit.start_at.to_json %> ]
}, d);

Morris.Donut($.extend({
  element: 'today-donut-chart',
  data: <%=raw @today_report.total_remote_ip_chart.to_json %>,
  colors: <%=raw @today_report.remote_ip_colors.to_json %>
}, defaultDonutOptions));

Morris.Bar({
  element: 'this-month-bar-chart',
  data: <%=raw JSON.pretty_generate(@this_month_report.chart.map { |line| line["day"] = line["start_at"].to_date; line }) %>,
  ykeys: [ "total_transfer_bytes" ],
  labels: [ "total_transfer_bytes" ],
  xkey: 'day',
  hideHover: 'auto',
  yLabelFormat: function(y) { return numberToHumanSize(y) }
});
*/
</script>
