<table class="table table-hover">
	<tr>
		<th>用户邮箱</th><td><%= @user.email %></td>
	</tr>
	<tr>
		<th>用户名</th></td><td><%= @user.login %></td>
	</tr>
	<tr>
		<th>用户域</th> <td><%= @user.domain %></td>
	</tr>
	<tr>
		<th>用户端口</th>
		<td>
			<%= @user.binds.where(:end_at => nil).first.port.number || 无 %>
		</td>
	</tr>
</table>

<table>
	<%= simple_form_for(@user) do |f| %>
	<tr>
		<td>
			<div class="form-actions">
			<% if current_user.admin? %>
				<%= f.button :submit, "随机更换端口号", class: "btn btn-primary" %>
			<% end %>
			
		</div>
	</div>
	<div class="span7">
		<div class="widget">
			<header><h3>使用情况</h3></header>
			
		</div>
	</div>
</div>
