<h2>客户端列表</h2>

<hr>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Hostname</th>
      <th>Last Access At</th>
      <th>Access Token</th>
      <th>Disabled</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @clients.each do |client| %>
    <tr>
      <td><%= client.hostname %></td>
      <th><%= distance_of_time_in_words_to_now(client.last_access_at, include_seconds: true) + "之前" if client.last_access_at %></th>
      <td><%= client.access_token %></td>
      <td><%= client.disabled %></td>
      <td>
        <%= link_to "编辑", edit_client_path(client, :ok_url => request.url) %>
        <%= link_to "删除", client_path(client), :method => :delete, data: { confirm: "确定删除该客户端?" } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<nav>
  <%= paginate(@clients) if !@clients.empty? %>
</nav>

<div class="table-action">
  <%= link_to "添加客户端", new_client_path(:ok_url => request.url), class: 'btn btn-primary' %>
</div>